.projects {
    padding: 20px;

    .projectHeader {
        display: flex;
        justify-content: space-between;

        .projectsTitle {
            font-size: 25PX;
            font-weight: bold;
        }
    }
}